body {
    background: url("../img/slider.jpg");
    background-repeat: round;
    background-repeat-y: no-repeat;
}

.container {
    width: 920px;
}
.header{
    padding-top: 15px;
    height: 500px;
    position: relative;
}
.language li .fa-language{
    font-size: x-large;
}
.language li{
    display: inline-block;
    position: relative;
}
.language li ul{
    display: none;
}
.language li:hover ul{
    display: block;
    position: absolute;
    background-color: white;
    padding: 0 10px;
    border-radius: 2px;
    z-index: 1;
}
.language li:hover ul a{
    color: black;
    text-decoration: none;
}
.header .search .fa-search{
    font-size: x-large;
    position: absolute;
    top: 13px;
    left: 270px;
}
.header .logo1{
    position: absolute;
    top: 12px;
    left: 585px;
}
.header .logo1 p{
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 3px;
}
.header .logo1 span{
    color: white;
    font-size: 39px;
    position: absolute;
    letter-spacing: 6px;
    top: -23px;
    left: 16px;
    opacity: 0.7;
}
.header .share{
    position: absolute;
    top: 20px;
    right: 270px;
}
.header .share .fa-share-alt{
    font-size: x-large;
}
.header .cart{
    position: absolute;
    top: 20px;
    right: 235px
}
.header .cart .fa-briefcase{
    font-size: x-large;
}
.header .line{
    border-bottom: solid 2px grey;
    opacity: 0.2;
}
.menu ul li{
    display: inline-block;
    padding: 10px 35px;
    font-weight: 500;
}
.menu ul li a{
    color: black;
    text-decoration: none;

}
.slaid{
    padding-top: 100px;
}
.slaid h2{
    font-size: 40px;
    font-weight: 400;
}
.slaid p{
    font-size: 15px;
}
.slaid input{
    color: white;
    background-color: black;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
}
.nav{
    display: inline-block;
    text-align: center;
    font-size: 9px;
    padding-top: 25px;
    margin: 8px;
}
.nav h3{
    font-size: large;
}
.nav .fa{
    font-size: x-large;
    padding-bottom: 10px;
    color: grey;
}
.themeblock .boximg{
    display: inline-block;
    position: relative;
}
.themeblock .boximg img{
    width: 312px;
    height: 315px;
    margin-left: 18px;
}
.themeblock .boximg a{
    position: absolute;
    left: 105px;
    bottom: 20px;
    width: 130px;
    height: 30px;
    background-color: white;
    color: black;
    border: none;
    font-size: small;
    text-align: center;
    padding-top: 5px;
}
.themeblock .boximg a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
.products{
    text-align: center;
    padding-top: 55px;
}
.products .line{
    border-bottom: grey 2px solid;
    width: 95px;
    margin-left: 400px;
    opacity: 0.6;
    padding-top: 10px;
}
.products p{
    font-size: small;
    padding-top: 15px;
}
.products .tabs{
    display: inline-block;
    padding: 15px 0;
}
.products .tabs a{
    /*background-color: #eeeeee;*/
    padding: 5px 35px;
    margin: 10px;
    color: black;
    text-decoration: none;
    width: 120px;
    height: 80px;
    background: #eeeeee;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.products .tabs a:before{
    content: "";
    position: absolute;
    right: 50%;
    top: 30px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid black;
}

.products .tabs a:hover {
    background-color: black;
    color: white;
}
.row1 .box{
    display: inline-block;
    position: relative;
    padding-top: 15px;
    margin-left: 5px;
}
.row1 .box p{
    font-size: 10PX;
    text-align: center;
}
.row1 .box img{
    width: 250px;
    margin: 5px;
}
.row1 .box h6{
    font-size: small;
    opacity: 0.6;
    text-align: center;
}
.row1 .img1 span{
    background-color: black;
    color: white;
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 3px 5px;
    font-size: 12px;
}
.row1 .box .img3 p{
    position: absolute;
    background-color: black;
    color: white;
    top: 30px;
    right: 20px;
    font-size: 12px;
    padding: 2px 5px;
}
.row1 .box .img3 span{
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: red;
    color: white;
    font-size: small;
    padding: 2px 5px;
}
.row1 .box .img5 span{
    position: absolute;
    background-color: red;
    color: white;
    top: 30px;
    left: 20px;
    font-size: 12px;
    padding: 2px 5px;
}
.row2 .box{
    display: inline-block;
    position: relative;
}
.row2 .box span{
    position: absolute;
    background-color: red;
    color: white;
    top: 30px;
    left: 20px;
    font-size: 12px;
    padding: 2px 5px;
}
.row1 button{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 30px;
    border: none;
    margin-left: 45%;
    margin-top: 15px;
}
.row1 button:hover{
    background-color: grey;
    color: white;
}
.box:hover{
    opacity: 0.5;
}
.banners{
    margin-top: 30px;
    display: inline-flex;
    background-color: #fafafa;
}
.banners img{
    width: 50%;
    height: 350px;
}
.banners .text1{
    width: 50%;
}
.text1 h2{
    margin-top: 80px;
    margin-left: 125px;
    text-align: center;
}
.banners .line2{
    border-bottom: grey 2px solid;
    width: 95px;
    margin-left: 50%;
    opacity: 0.6;
    padding-top: 10px;
}
.banners .text1 p{
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    margin-left: 16%;
}
.banners .text1 button{
    margin-top: 10px;
    margin-left: 50%;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.banners .text1 button:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.logo{
    padding-top: 10px;
}
.logo img{
    margin: 0 70px;
    width: 80px;
}
.instagram{
    display: inline-flex;
    position: relative;
    padding-top: 15px;
}
.instagram img{
    width: 225px;
}
.instagram h2{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 45px;
    color: white;
    font-weight: 100;
}
.map{
    position: relative;
}
.map img{
    width: 100%;
    height: 230px;
    margin-top: -6px;
}
.map .text2{
    position: absolute;
    background-color: white;
    top: 40px;
    left: 170px;
    padding: 5px 25px;
    font-size: 8px;
}
.footer{
    padding-top: 35px;
}
.footer .menubar{
    position: relative;
}
.footer .menubar h5{
    letter-spacing: 5px;
}
.footer .menubar p{
    font-size: small;
}
.footer .menubar i{
    background-color: #ebebeb;
    width: 25px;
    height: 25px;
    padding: 4px;
    text-align: center;
    border-radius: 15px;
    margin: 2px;
}
.footer .menubar label{
    display: block;
    padding-top: 15px;
}
.footer .menubar label input{
    width: 255px;
}
.footer .menubar button{
    position: absolute;
    left: 179px;
    top: 150px;
    height: 28px;
    background-color: #ebebeb;
    border: none;
}
.footer .menubar h3{
    padding-bottom: 10px;
}
.footer .menubar .m-f-1{
    position: absolute;
    top: -20px;
    left: 335px;
}
.footer .menubar .m-f-2{
    position: absolute;
    top: -20px;
    right: 270px;
}
.footer .menubar .m-f-3{
    position: absolute;
    top: -20px;
    right: 75px;
}
.footer .menubar ul{
    padding-top: 20px;
}
.footer .menubar ul li a{
    color: #4e555b;
    font-size: small;
}
.footer .menubar ul li a:hover{
    text-decoration: none;
}
.footer .method{
    position: relative;
    background-color: black;
    width: 100%;
    color: white;
    padding: 1px;
    margin-top: 110px;
}
.footer .method p{
    font-size: small;
    padding-top: 8px;
}
.footer .method img{
    position: absolute;
    top: 10px;
    right: 440px;
}


